.header_outer_container {
    justify-content: center;
    position: sticky;
    top: auto;
    align-items: center;
    background-color: rgb(20,20,20);
    background-color: transparent;
    /* height: 10vh;  */
    color: white;
    transition:all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    padding-bottom: 15px;
    background-color: black
  }
  
  .header_container {
    display: flex; 
  justify-content: space-between;
  
  }
  
  .header_left{
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .header_right{
    width: 20%;
   float: right;
    max-width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
    @media screen and (max-width :700px ){
      .header_left {
        flex-direction: column;
        /* align-items: start; */
      
        
  
      }
    
      .header_left li {
        padding: 10px;
      }
  
    }