.banner {
    margin-top: -10vh;
    height: 80vh;
    margin-bottom: -80px;
    color: white;
    object-fit: contain;
    display: flex;
    align-items: center; /* Vertically center */
}

.banner__contents {
    margin-left: 30px;
    padding-top: 0; /* Remove the large padding */
    max-width: 500px; /* Limit width for better readability */
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 100%; /* Use full available width */
    line-height: 1.3; /* Better line height for readability */
    padding: 1rem 0;
    font-size: 1rem;
    max-width: 360px;
    height: auto; /* Allow height to adjust to content */
}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2rem;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.play {
    color: #000;
    background-color: #fff;
}

.banner__button:hover {
    color: #000;
    background-color: #c6c6c6;
    transition: all 0.4s;
}

.banner__fadeBottom {
    height: 400px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.91),
        #111
    );
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* .banner {
 margin-top: auto;
 height: 80vh;
 margin-bottom: -80px;
 color: white;
   object-fit: contain;
 }

 .banner__contents {
      margin-left: 30px;
      padding-top: 300px;
 }

 .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
 }
  .banner__description {
    width: 45rem;
    line-height: 1;
    padding: 1rem o;
    font-size: 1rem;
    max-width: 360px;
    height: 80px; 
  }

  .banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: grey;
  }
  .play {
    color: #000;
    background-color: #fff;

  }

  .banner__button:hover {
    color: #000;
    background-color: #c6c6c6;
    transition: 0ms;
  }

  .banner__fadeBottom {
    height: 40vh;
    background-image: linear-gradient(
        180deg, 
        transparent,
        rgb (37,37,37,0.91),
        #111
    );
  } */